@import url("./styles/header.css");
@import url("./styles/section-um.css");
@import url("./styles/section-dois.css");
@import url("./styles/section-tres.css");
@import url("./styles/section-quatro.css");
@import url("./styles/footer.css");

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-de-fundo: #FFFFFF;
    --vermelho-claro: #8E24240D;
    --vermelho: #8E2424;
    --cinza-mais-escuro: #101828;
    --cinza-escuro: #3A404E;
    --cinza-claro: #667085;
    --cinza-mais-claro: #F9FAFB;
    --cinza-borda: #EAECF0;
    --cinza-copyright: #98A2B3;
    --fonte-principal: "Inter", sans-serif;
}

body {
    background-color: var(--cor-de-fundo);
    box-sizing: border-box;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 500;
}

header,
main {
    margin: 1.5em 5em;
}