.rodape {
    background-color: var(--vermelho-claro);
    padding: 6rem 0;
    text-align: center;
}

.rodape__titulo {
    font-size: 2.25rem;
    font-weight: 600;
    color: var(--cinza-mais-escuro);
}

.rodape__texto {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(cinza-claro);
    margin: 1.25rem 0 2.5rem 0;
}

.rodape__container {
    align-items: center;
}

.container__email {
    padding: 0.8rem;
    border-radius: 6px;
    border: solid 1px var(--cinza-borda);
    width: 15vw;
    margin: 0 0.5rem 2rem 0;
}

.container__email::placeholder {
    font-size: 1rem;
    font-weight: 400;
    color: var(--cinza-claro);
}

.rodape__copyright {
    font-size: 1rem;
    font-weight: 400;
    color: var(--cinza-copyright);

}
