.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.cabecalho__logo {
    display: flex;
    align-items: center;
}

.cabecalho__nome {
    padding-left: 0.2em;
    color: var(--cinza-escuro);
    font-size: 18px;
}

.cabecalho__navegacao {
    margin-right: auto;
    padding-left: 5em;
}

.navegacao__link {
    text-decoration: none;
    color: var(--cinza-claro);
    padding-right: 2em;
}

.login__entrar {
    color: var(--cinza-claro);
    padding-right: 1em;
    text-decoration: none;
}

.login__cadastrar {
    background-color: var(--vermelho);
    color: var(--cor-de-fundo);
    padding: 0.5em;
    border-radius: 6px;
    text-decoration: none;
}