.sobre-nos {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 6rem auto;
    width: 50%;
}

.sobre-nos__categoria {
    color: var(--vermelho);
    font-weight: 600;
}

.sobre-nos__titulo {
    font-size: 3rem;
    font-weight: 600;
    color: var(--cinza-mais-escuro);
    padding: 1.5rem 0;

}

.sobre-nos__texto {
    color: var(--cinza-claro);
    font-size: 1.25rem;
    font-weight: 400;
}

@media screen and (max-width: 942px) {
    .sobre-nos {
        margin: 2rem 0;
        width: 100%;
    }

    .sobre-nos__titulo {
        padding: 0.5rem 0;
    }

}