.publicidade {
    background-color: var(--vermelho-claro);
    text-align: center;
    align-items: center;
    margin: 6rem 0;
    padding: 4rem;
    border-radius: 8px;
}

.publicidade__anuncio {
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--vermelho);
}

.publicidade__titulo {
    font-size: 2.25rem;
    font-weight: 500;
    color: var(--cinza-mais-escuro);
    margin: 1rem 0 2rem 0;
}

.publicidade__nome {
    color: var(--cinza-mais-escuro);
    margin: 1rem 0 0.25rem 0;
}

.publicidade__profissao {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--cinza-claro);
}

@media screen and (max-width: 942px) {
    .publicidade {
        margin: 1rem 0;
        padding: 1rem;
    }

    .publicidade__titulo {
        margin-bottom: 1.5rem;
    }
}