.vagas__container {
    align-items: center;
    text-align: center;
}

.vagas__anuncio {
    color: var(--vermelho);
    font-size: 0.875rem;
    font-weight: 500;
    background-color: var(--vermelho-claro); 
    display: inline-block; 
    padding: 0.5rem;  
    border-radius: 24px;
}

.vagas__titulo {
    font-size: 2.25rem;
    font-weight: 600;
    color: var(--cinza-mais-escuro);
    padding: 1rem 0 1.25rem 0;
}

.vagas__texto {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--cinza-mais-escuro);
}

.vagas__imagem {
    width: 100%;
    margin: 6rem 0;
}

.area {
    width: 40vw;
    margin: 0 auto;
}

.area__titulo {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--cinza-mais-escuro);
    list-style-type: none;
    padding-bottom: 2rem;
}

.area__container {
    border: 1px solid var(--cinza-borda);
    border-radius: 1rem;
    list-style-type: none;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
}

.container__vaga {
    color: var(--cinza-mais-escuro);
    font-size: 1.125rem;
    font-weight: 500;
}

.container__descricao {
    display: flex;
    color: var(--cinza-claro);
    padding-top: 2rem;
}

.descricao__periodo {
    padding-right: 1.5rem;
}