.informativo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    padding-bottom: 6rem; 
}

.informativo__coluna {
    width: 15vw;
}

.informativo__marco {
    font-size: 3.75rem;
    font-weight: 600;
    color: var(--vermelho);    
}

.informativo__titulo {
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--cinza-mais-escuro);
    padding: 0.75rem 0 0.5rem 0;
}

.informativo__texto {
    font-weight: 400;
    color: var(--cinza-claro);
}