.informativo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    padding-bottom: 6em; 
}

.informativo__coluna {
    width: 15vw;
}

.informativo__marco {
    font-size: 60px;
    font-weight: 600;
    color: var(--vermelho);    
}

.informativo__titulo {
    font-size: 18px;
    font-weight: 500;
    color: var(--cinza-mais-escuro);
    padding: 0.75em 0 0.5em 0;
}

.informativo__texto {
    font-weight: 400;
    color: var(--cinza-claro);
}