.publicidade {
    background-color: var(--vermelho-claro);
    text-align: center;
    align-items: center;
    margin: 6em 0;
    padding: 4em;
    border-radius: 8px;
}

.publicidade__anuncio {
    font-size: 14px;
    font-weight: 600;
    color: var(--vermelho);
}

.publicidade__titulo {
    font-size: 36px;
    font-weight: 500;
    color: var(--cinza-mais-escuro);
    margin: 1em 0 2em 0;
}

.publicidade__nome {
    color: var(--cinza-mais-escuro);
    margin: 1em 0 0.25em 0;
}

.publicidade__profissao {
    font-size: 14px;
    font-weight: 400;
    color: var(--cinza-claro);
}